.card {
    background: #FFFFFF !important;
    /* gray/200 */
    
    border: 1px solid #E5E7EB !important;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1) !important;
    border-radius: 5px !important;
}

* {
    font-family: 'Roboto', sans-serif !important;

}

body{
    font-family: 'Roboto', sans-serif !important;


}

form {
    width: 100% !important;
}
.active {
    background: #F3F4F6 !important;
}
.default_cl {
    background: #FFFFFF !important;
    width: 100% !important;
}
.control_button {
    display: block !important;
    align-items: unset !important;
    padding: 16px 24px !important;
    border-bottom: 2px solid #F3F4F6 !important;
    max-width: 100% !important;


}
.content_header_container h5{
    font-weight: 500;
    line-height: 28px;
    /* identical to box height, or 156% */


    /* Gray/900 */

    color: #101828;
    margin-bottom: 0 !important;

}
.content_header_container {
    border-bottom: 1px solid #EAECF0;
    padding-bottom: 10px !important;
    margin-left: 10px !important;
    padding-left: 20px;
}
.card_n_body {
    /* overflow: hidden !important; */
}

.content_body {
    padding-left: 20px;

}
.content_body p {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    /* or 125% */

    letter-spacing: 0.02em;

    /* Grey/600 */

    color: #3F556E;
}
.row_container label {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Gray/700 */

    color: #344054;
}
.small {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height, or 143% */


    /* Gray/500 */

color: #667085;
}
.content_body .row_container {
    padding-top: 20px !important;

}
.content_body input {
    background: #FFFFFF !important;
/* Gray/300 */

    border: 1px solid #D0D5DD !important;
/* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05) !important;
    border-radius: 8px !important;
}
.content_header_container small {
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Gray/500 */

    color: #667085;
}
.control_button span {
    color: #3F556E;
    font-size: 16px;

}
.control_button small {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    /* or 125% */

    display: inline-block;
    text-align: left !important;
    /* Grey/600 */

    color: #3F556E;
    padding-left: 0px !important;
    padding-top: 10px !important;

}
.numbers {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.wrapper h1 {
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 30px;

}
.content p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */

    text-align: center;

    /* Gray/500 */

    color: #667085;

}
h5 {
    margin-bottom: 20px !important;

}
.subscription p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px !important;

    /* or 150% */

    text-align: center;

    /* Gray/500 */

    color: #667085;

}
.subscribe_button_container button {
    padding: 10px 42px;

    /* Chat Blue */

    background: #0B6CF4;
    /* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    display: block;
    width: 100%;
    text-align: center;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* White */

    color: #FFFFFF;

}

.numbers div span {
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 150%;
    color: #2563EB !important;
    /* or 36px */


    /* blue/600 */

    color: #2563EB;
}
.numbers div small {
    font-style: normal;
    
    font-size: 11px;
    color: #6B7280;
   
    
}
.wrapper .header .wallet_actions .wallet_button .transfer  {
    /* width: 100%; */
    width: 130px;
    height: 44px;

    /* white */

    background: #FFFFFF;
    /* gray/700 */

    border: 1px solid #374151;
    /* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* gray/700 */

    color: #374151;
    transition: all 0.5s;

}
.top_up_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .top_up_button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .top_up_button:hover span {
    padding-right: 25px;
  }
  
  .top_up_button:hover span:after {
    opacity: 1;
    right: 0;
  }

  /*  */
  .transfer span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .transfer span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .transfer:hover span {
    padding-right: 25px;
  }
  
  .transfer:hover span:after {
    opacity: 1;
    right: 0;
  }
  
.wrapper .header .wallet_actions .wallet_button .transfer:hover {

    border: 1px solid #0B6CF4 !important;
    /* color: #FFFFFF; */



}

.wrapper .header .wallet_actions .wallet_button .top_up_button{
    transition: all 0.5s;

    

    background: #0B6CF4 !important;

    border: 1px solid #0B6CF4 !important;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05) !important;
    border-radius: 4px !important;
    padding: 10px 16px;
    width: 130px;
    height: 44px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* White */

    color: #FFFFFF;

}

div.percent {
    background: #D1FAE5;
    border-radius: 12px;
    padding: 0px 10px;
    display: inline-block;
    width: '67px';
    height: '25px';
    border-radius: '12px';
    display: 'flex';
    flex-direction: 'row';
    align-items: 'center';
    justify-content:' space-around';

}
div.percent2 {
    background: #FEE2E2;
    border-radius: 12px;
    padding: 0px 10px;
    display: inline-block;
    width: '67px';
    height: '25px';
    border-radius: '12px';
    display: 'flex';
    flex-direction: 'row';
    align-items: 'center';
    color: #991B1B !important;
    justify-content:' space-around';

}
div.percent small {
    font-size: 10px;
}
div.percent2 small {
    font-size: 10px;
    color: #991B1B !important;

}
.wallet {
    width:100% !important;
    height:100% !important;
                  
    /* background-image:url('/public/assets/crc.png'); */
                  
    /* background-repeat:no-repeat !important;
                  
    border-radius:30px !important; */
                  
    position:relative !important;
}
.wallet .content {
    padding:32px 41px;
    color: #FFFFFF;
    position: relative !important;
    z-index: 31 !important;
}
.wallet .img {
    width: 100% !important;

    position: absolute !important; 
    z-index:0.1 !important;
    margin:10px 10px !important;
    height: 224px;
}
.wallet .content .sub_text{
    
    color: #BFDBFE;
    font-size: 10px;
    margin-bottom: 10px;
}
.wallet .content .content_body{
    
    color: #BFDBFE;
    font-size: 10px;
    margin-top: 50px;
    
}
.wallet .content .content_body .bank_info .name{
    
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    margin-bottom: 1px;

}
.wallet .content .content_body .bank_info img {
    height: 30px;
}
.analytics {
    margin-top: 40px !important;
}
.analytics .customized_row {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-column-gap: 30px;
}
.analytics .customized_row1 {
    display: grid;
    grid-template-columns: 6fr 6fr ;
    grid-column-gap: 15px;
}
.wallet .content .content_body  .bank_info{
    display: flex;
    justify-content: space-between;
    
}
.wallet .content .content_body .account_number{
    
    font-weight: 400;
    font-size: 15.7468px;
    font-weight: 600;

    color: #FFFFFF;
    margin-bottom: 10px;

}
.wallet .footer {
    text-align: right;

}
.wallet .footer div p {
    font-size: 14px;
    color: #2563EB;
    font-style: normal;
    font-weight: 500;

}
.wallet .footer div p span {
    
    cursor: pointer;

}




.wallet .content .content_header {
    display: flex;
    justify-content: space-between;
}
.wallet .footer {
    /* position:absolute;
    bottom:0; */
    border-top: 1px solid #E5E7EB;
    width:100%;
    height: 34px;
    padding: 4px;
}

.acc_number {
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
/* identical to box height */


/* Base/White */

color: #FFFFFF;
}
.table {
    /* color: #6B7280 !important; */
    width: 100% !important;

}
.thead  th {
    border-bottom: 1px solid #EAECF0 !important;
    border-top: 1px solid #EAECF0 !important;
    color: #6B7280 !important;
    font-weight: 500;
    font-size: 12px;
    padding: 16px;
    padding-left: 0 !important;
}

.tr {
    height: 77px !important;
    border-bottom: 1px solid #EAECF0;
}
.tr td{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    
    
    /* gray/500 */
    
    color: #6B7280;
    
}
.card2 {
    background: #FFFFFF !important;
    
    border: 1.12465px solid #E5E7EB;
    box-shadow: 0px 1.12465px 3.37394px rgba(16, 24, 40, 0.1), 0px 1.12465px 2.24929px rgba(16, 24, 40, 0.06) !important;
    border-radius: 8.99717px !important;
}
.modal_content h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    

    color: #1F2937;
}


.modal_content p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */


    /* gray/500 */

    color: #6B7280;
}
.modal_content .modal_header {
    display: flex;
    justify-content: space-between;

}

.modal_content label {
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Gray/700 */

    color: #344054;

}
.modal_content .modal_btn {
    background: #2563EB;
    /* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    color: #FFFFFF;

}

.showPasswordWrap input {
    padding: 10px !important;
    border: none !important;
  }
  
  .select_wrap {
    width: fit-content;
  }

table, thead, tr, tbody, td {
    white-space: nowrap;
}

td:last-child, td:last-of-type {
    margin: auto;
}

@media screen and (max-width: 860px) {
    .wallet {
        width: 100% !important;
    }
    .card2 {
        width: 40% !important;

    }
    .analytics .customized_row {
        display: block !important;
        
    }
}

@media screen and (max-width: 757px) {
   
    .wrapper h1 {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 20px;
    
    }
    .content p {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        /* or 150% */
    
        text-align: center;
    
        /* Gray/500 */
    
        color: #667085;
    
    }
}

@media only screen and (max-width: 320px) {

    .wallet {
        background-size: cover !important;
    }
        
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width: 480px) {
    .wallet {
        background-size: cover !important;

    }
}