.wrapper_before {
    position: relative;
    /* padding: 0 9em; */
    font-size: 16px;
}

.wrapper_before::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(209.36deg, rgba(0, 175, 82, 0.75) 0%, rgba(1, 11, 34, 0.75) 100%);
}

.wrapper_before .text_wrap {
    position: relative;
    z-index: 10;
    /* border: 3px solid blue; */
    width: 32em;
    max-width: 95%;
    height: fit-content;
    padding: 0 0 14em;
    /* border: 2px solid blueviolet; */
}

.wrapper_before h1 {
    max-width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    /* font-size: 64px; */
    font-size: 3.5cqw;
    line-height: 120%;
    color: #FFFFFF;
    padding: 0;
}

.wrapper_before p {
    position: relative;
    z-index: 10;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.5;
    color: #fff !important;
    margin-top: 1.5em;
}
.join_sect {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 25px;
}
.join_sect > div {
    white-space: nowrap;
}
/* .join_sect img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: blueviolet;
    border: 5px solid white;
} */
.join_sect p {
    margin: 0;
    font-size: 18px;
}

.logo_wrap {
    position: absolute;
    top: 15px;
    left: 40px;
}

.logo_wrap img {
    width: 110px !important;
}

.signin_form_wrap {
    /* border: 2px solid blue; */
    width: 22em;
    max-width: 100%;
    padding-bottom: 6em;
}

.signin_form_wrap h3 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 2em;
    line-height: 1;
}

.input_box_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.input_box {
    width: 100% !important;
    overflow: hidden;
}

.input_box input {
    font-size: 2em;
    line-height: 0;
    letter-spacing: inherit;
    color: currentColor;
    border: 0;
    box-sizing: content-box;
    background: none;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0;
    width: 100%;
    -webkit-animation-name: mui-auto-fill-cancel;
    animation-name: mui-auto-fill-cancel;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms;
    padding: 10px 10px;
    text-align: center;
}

.input_box label {
    font-weight: 500;
    font-size: 14px;
}

input ~ fieldset, input:active ~ fieldset, input:focus ~ fieldset, input:valid ~ fieldset {
    border: 1px solid rgba(0, 0, 0, 0.3) !important;   
    outline: none;
    box-shadow: none !important;
}

.forgot {
    margin: .6em auto 1.5em;
    text-align: center;
}
.forgot small {
    font-size: 14px !important;
}

.forgot a {
    text-decoration: none;
    color: #54B054;
    font-size: 14px !important;
    font-weight: 600;
}

.forgot span {
    text-decoration: underline;
}

.signin_btn {
    background: #33BF75;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    font-weight: normal !important;
    margin-bottom: 20px;
}

.signin_btn:hover {
    background: #54B054;
    color: whitesmoke;
}

.google_btn {
    background: transparent;
    border: 1px solid #bbb !important;
    font-weight: 600 !important;
    display: block;
    width: 100%;
    padding: 6px;
    font-size: 16px;
    color: #111;   
}
.google_btn img {
    width: 40px;
    vertical-align: middle;
}

.signup_switch {
    text-align: center;
    margin: 2.5em auto;
    color: #888;
}
.signup_switch a {
    color: #54B054; 
    text-decoration: none;
    font-weight: 700;
}

.signup_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    color: #888;
    font-size: 16px;
    width: 100%;
    padding-bottom: 20px;
}

.signup_footer p {
    margin: 6px 0;
    width: fit-content;
}

.signup_footer a {
    color: #888;
    transition: .3s;
    text-decoration: none;
}

.signup_footer a:hover {
    color: #54B054;
}