.wrapper_before {
    position: relative;
    /* padding: 0 9em; */
    font-size: 14px;
}

.wrapper_before::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(209.36deg, rgba(0, 175, 82, 0.75) 0%, rgba(1, 11, 34, 0.75) 100%);
}

.wrapper_before .text_wrap {
    position: relative;
    z-index: 10;
    /* border: 3px solid blue; */
    width: 35em;
    max-width: 95%;
    height: fit-content;
    padding: 0 0 11em;
    /* border: 2px solid blueviolet; */
}

.wrapper_before h1 {
    max-width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    /* font-size: 64px; */
    font-size: 4cqw;
    line-height: 120%;
    color: #FFFFFF;
    padding: 0;
}

.wrapper_before p {
    position: relative;
    z-index: 10;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    color: #fff !important;
    margin-top: 1.5em;
}
.join_sect {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 25px;
}
.join_sect > div {
    white-space: nowrap;
}

.join_sect p {
    margin: 0;
    font-size: 18px;
}

.logo_wrap {
    position: absolute;
    top: 20px;
    left: 10px;
}

.logo_wrap img {
    width: 80px !important;
}

.signin_form_wrap {
    width: 27em;
    max-width: 100%;
}

.signin_form_wrap h3 {
    margin-bottom: 15px;
}

.input_box {
    margin-bottom: 20px;
}

.input_box label {
    font-weight: 500;
    font-size: 14px;
}

.input_box input {
    height: 10px;
}

.input_box input::placeholder {
    font-size: 12px;
}

.input_box small {
    font-size: 12px;
}

.signin_form_wrap *, 
.signin_form_wrap *:active, 
.signin_form_wrap *:focus {
    border: none !important;
    outline: none !important;
}

input:active ~ fieldset, input:focus ~ fieldset, input:valid ~ fieldset {
    border: 2px solid rgba(0, 175, 82, 0.75) !important;   
    outline: none !important; 
    box-shadow: none !important;
}

.forgot {
    margin: 1em 0 2em;
}

.forgot p {
    font-size: 14px;
    font-weight: 500;
    vertical-align: top;
}

.forgot a {
    text-decoration: none;
    color: #54B054;
    font-size: 14px;
    font-weight: 600;
}

.signin_btn {
    background: #33BF75;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: white;
    font-weight: normal !important;
    margin-bottom: 20px;
}

.signin_btn:hover {
    background: #54B054;
    color: whitesmoke;
}

.google_btn {
    background: transparent;
    border: 1px solid #bbb !important;
    font-weight: 600 !important;
    display: block;
    width: 100%;
    padding: 3px;
    font-size: 14px;
    color: #111;   
}
.google_btn img {
    width: 40px;
    vertical-align: middle;
}

.signup_switch {
    text-align: center;
    margin: 2.5em auto;
    color: #888;
}
.signup_switch a {
    color: #54B054; 
    text-decoration: none;
    font-weight: 700;
}

.signup_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    color: #888;
    font-size: 14px;
    width: 100%;
    padding-bottom: 20px;
}

.signup_footer p {
    margin: 6px 0;
    width: fit-content;
}

.signup_footer a {
    color: #888;
    transition: .3s;
    text-decoration: none;
}

.signup_footer a:hover {
    color: #54B054;
}

@media screen and (max-width:700px) {
    .StyledContent {
        min-height: 145vh !important;
    }
}